body, html {
	height: 100%;
	margin: 0;
}

h1{color: white;}

.bg{
	background-image: url("../images/background/plainbackground.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.fbg{
	background-image: url("../images/background/plainbackground.jpg");
	background-position: center;
	background-repeat: no-repeat;
	height: 100%;
	background-size: cover;
	background-attachment: fixed;
}

#castle{
	font-family: ""Calibri Full Stack", Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
	border-collapse: collapse;
	width: 50%;
	margin-left:auto; 
	margin-right:auto;
}

#castle td, #castle th{
	border: 1px solid #ddd;
	padding: 8px;
	text-align: center;
}

#castle tr:nth-child(even){background-color: #f2f2f2;}

#castle tr:hover {background-color: #ddd;}

#castle th {
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: #20b2aa;
	color: white;
	font-size: 150%;
}

#castle td {
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: white;
	font-size: 150%;
}